li,p{
    text-transform:capitalize;
}
main{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr;
    grid-gap: 10px;
}




.main_catalog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;

    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
.main_catalog_ul{
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 55px;
}

.main_catalog_li{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;
}

/* aside */

.aside{
    width: 232px;
    margin: 8px 0 0 20px;

    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.aside li{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
height: 23px;
}
.aside label{
    margin-left: 5px;
}

.aside h5{
    margin-top: 28px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.aside_p{
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 30px;
} 
.last_label{
    margin-top: 15px;
    margin-bottom: 14px;
}



/* producter div begin */
/* .producter{

} */
/* .producter p{
    height: 30px;
} */
.producter_span{
    margin-top: 12px;
    font-size: 12px;
}
.line_span{
    font-size:12px;
    margin-top: 5px;
    margin-bottom: 15px;
}



/*discount begin  */
.producter p,
.discount p,
.condition p,
.apperance p,
.line p,
.delivery_type p,
.diagonal p,
.raiting p,
.color p
{
    font-size: 14px;
    margin: 16px 0;
}
/* diagonal */
.diagonal p{
    margin-top: 10px;
    font-size: 14px;
}

.prise_input_div{
    width: 100%;
}
.prise_input_div p{
    margin-bottom: 12px;
}

.prise_input{
    display: inline;
    width: 105px;
    height: 40px;
    color: #808080;
    margin-bottom: 12px;
}
.prise_input:last-child{
    margin-left: 6px;
}

.delivery_div p{
    margin-bottom: 10px;
    margin-left: 0;
    padding-left: 0;
}
.superfast{
    padding: 2px;
    background-color: #F58735;
    border-radius: 10px;
    margin-bottom: -5px;
}

.star_icon{
    margin-bottom: -2px;
    margin-left: 2px;
    width: 15px;
    height: 15px;
}
.star_icon_gray{
    fill: gray;
}

.color_container{
    display: flex;
    justify-content: center;
    gap:8px;
    width: 172px;
    flex-wrap: wrap;
    margin: 0;
}

.div_color{
    width: 24px;
    height: 24px;
    border: 1px solid #858585;
    border-radius: 50px;    
}


/* begin content */

.content{
    grid-row: 2 / 3;
    grid-column: 2 / 2;
    margin-right: 20px;
}
.content_title{
    display: flex;
    gap: 150px;
    justify-content: space-around;
}

.sort_ul{
    display: flex;
    justify-content: center;
    gap: 36px;
}
.sort_ul:first-child{
    color: #808080;
}
.sort_li{
    text-transform:none;
    font-weight: 600;
    font-size: 15px;
    line-height: 12px;  
}
.sort_li:nth-child(3){
    color: #3BC13D;
}

.sort-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sort-icon svg{
    cursor: pointer;
}

.sort_icon_active{
    fill: #F58735;
}

.content_field{
    display: flex;
    justify-content: space-between;
}
.content_field p{
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #3BC13D;
}

.content_card{
    max-width: 1180px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    border: 1px solid #bababa;
    border-radius: 5px;
    margin-bottom: 20px;
}
.like_flex{
    display: flex;
    align-items: center;
}
.like_align_self{
    fill: #AFAFAF;
    align-self: flex-end;
    margin: 20px 0 20px 20px;
}

.circle_field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    gap: 3px;
}
.start{
    justify-content: start;
    margin-top: 12px;
}

.circle_l{
    background-color: #F0F0F0;
    width: 5px;
    height: 5px;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
}
.circle_l:first-child{
    background-color:#F58735;
}

.circle_xl{
    background-color: #F0F0F0;
    width: 12px;
    height: 12px;
    border: 1px solid #F0F0F0;
    border-radius: 50%;
}
.circle_xl:first-child{
    background-color:aqua;
    width:24px;
    height: 24px;
}

.circle_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product_info h3{
margin-top: 24px;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
}
.product_info p{
max-width: 350px;
font-weight: 500;
font-size: 12px;
line-height: 20px;
}
.product_info{
    margin-bottom: 16px;
}
.product_info_p{
    margin-top: 16px;
}
.like_flex_svg,
.like_flex p{
    fill: #F58735;
    color: #F58735;
}
.like_flex p{
    margin-left: 5px;
    font-size: 14px;
    /* margin-bottom: 16px; */
}
.star svg:first-child{
    fill: #ffffff;
}
.star{
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;

}
.green_text{
    font-size: 14px;
    line-height: 16px;
    color: #3BC13D;
}

.seller{
    font-size: 14px;
    line-height: 17px;
    margin: 8px 0;
}
.seller span{
    color: #808080;
}
.basket_button{
    margin-top: 35px;
    width: 170px;
    height: 36px;
    cursor: pointer;
}
.basket_icon{
    margin-right: 10px;
}

.prise{
    width: 320px;
}
.prise_field{
    margin: 24px 0 12px 0;
    display: flex;
    gap: 10px;
    
}
.prise_field p:first-child{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
}
.prise_field p:nth-child(2){
    color: #AFAFAF;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-decoration:line-through;
}
.prise_field p:nth-child(3){
display: inline;
font-weight: 500;
font-size: 10px;
line-height: 13px;
background: #3BC13D;
color: #fff;
padding: 3px;
border-radius: 5px;
}


/* last next buttons */
.last_next_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.last_next_buttons span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: #A0AEC0;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 15px;
    line-height: 160%;
}

.last_next_buttons span:hover{
    border-radius: 15px;
    color:#4268B0;
    cursor: pointer;
    background: rgba(115, 185, 255, 0.1);
    border-radius: 12px;
}

.arrow_right img{
    transform: scale(-1, 1);
    z-index: 500;
}


/* gorizontal card begin */
.content_gorizontal{
    max-width:1050px;
    display: flex;
    overflow-x:scroll;
}
.content_gorizontal::-webkit-scrollbar {
    width: 0;
  }
@media(max-width:1340px){
    .gorizontal_card{
        max-width: 700px;
    }
}
.gorizontal_card{
    border: 1px solid #c0c0c0;
    width: 235px;
    margin: 16px 16px 16px 0;
    border-radius: 5px;
}
.card_img_div{
    display: flex;
    align-items: end;
    margin: 0 10px;
}

.like_flex_gorizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    width: auto;
    margin-left: -30px;
}
.like_flex_gorizontal p{
    font-size: 14px;
}


.like_flex_svg_gorizontal{
    background-color: #fff;
    border-radius: 555px;
    padding: 2px;
    width: 18px;
    margin-right: -5px;
}

.product_info_h3{
    margin-bottom: 8px;
    text-transform: capitalize;
    font-size: 14px;
}

.prise_field_gorizontal{
    margin:8px 0 8px 0;
}

.prise_field_gorizontal_p{
    font-size: 16px;
}

.product_info_p{
margin: 0;
margin-bottom: 8px;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #AAADB2;
}

.star_gorizontal{
    margin-bottom: 5px;
}

.buttons_gorizontal{
    margin: 16px 0 16px 0px;
}

.text_content_gorizontal{
    padding-left: 15px;
}


/* scroll arrow */
/* applink */

.scroll_arrow{
    position: absolute;
    top: 75%;
    left: 93%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(61, 63, 70, 0.15);
}

.scroll_arrow_img{
    width: 15px;
    height: 15px;
}


.scroll_arrow_main{
    position: absolute;
    top: 76%;
    left: 22%;
    transform: scaleX(-1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(61, 63, 70, 0.15);
    border: none;
}

.scroll_arrow_modal_main{
        position: absolute;
        top: 76%;
        left: 94%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #FFFFFF;
        box-shadow: 0px 2px 16px rgba(61, 63, 70, 0.15);
        border: none;
}